
/* put magnifying glass icon for search button */
/* make heading not overlap back button  */
/* padding on left right for tracks page   */
/* search button should be on right even when in mobile  */
/* fix prev next buttons location and style  */
/* center albums on album page */
/* figure out a color for links  */
/* links change color upon hover  */
/* have album pic container exist at a certain size
since there will be a delay when album art loads */
/* maybe have a home button on the top left for mobile? */
/* when do next albums page it starts at bottom of page but it should go back to top. */
/* fix clicking on current page number goes to next */

/* in albums page, figure out how to get the div img to 
stick to the bottom of the container */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Michroma', sans-serif; */
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

body {
  /* font-family: 'Michroma', sans-serif; */
  font-family: 'Roboto', sans-serif;

  background-color: #151515;
  color: rgb(163, 149, 117);
  padding: 0;
  /* margin: 0; */
  /* font-family: "Fira Sans", sans-serif; */
  /* font-family: 'Roboto', sans-serif;} */
}



header {
  /* font-size: 0.8rem */
  /* padding: 10px 0 0 0; */
/* text-align: center; */
  font-family: 'Michroma', sans-serif;

}

.main-heading {
  font-size: 1.4rem;
  /* text-align-last: center; */
  margin: 0 auto 40px; /* remove margin for large screens */
  padding: 10px 0 0 0;
  width:300px;  
  text-align: center;
}

.fa-angle-double-left {
  color: rgb(134, 178, 204);
  }

.back-button {
  position: absolute;
  /* border:1px yellow; */
  font-size: 4rem;
  top: -10px;
  left: 10px;
}

.fa-angle-double-left:hover {
  color: rgb(80, 158, 204);
  border: 2px solid rgba(80, 159, 204, 0);
}

.back-text {
  font-size: 2rem;
}

#js-form {
  width:85%;
  margin:  40px auto;  
}

.search-container {
  font-family: 'Roboto', sans-serif;

  display:flex;
  max-width: 500px;
  margin:0 auto;
}

.search-field {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 100px;
  height: 40px;
  text-align: left;
  vertical-align: middle;  
  padding-left: 10px;
  font-size: 1.05rem;
  border: 2px solid white;
  border-radius: 10px 0px 0px 10px;
  transition: all 0.4s;

}

.search-field:focus, .search-field:hover {
  outline:0;
  /* background-color: rgb(209, 223, 231); */
  background-color:rgb(209, 204, 192);
  border: 2px solid rgb(134, 178, 204);
  /* border: 2px solid rgb(209, 204, 192);  */
}

.fa-angle-double-left {
color: rgb(134, 178, 204);
}

.submit-button {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 70px;
  line-height: 34px;
  font-size: 1.5rem;
  border: 2px solid rgb(134, 178, 204);
  border-radius: 0px 10px 10px 0px;
  width: 70px;
  vertical-align: middle;
  background-color: rgb(134, 178, 204);
  transition: all 0.4s;
}

.submit-button:hover,.prev-artist-button:hover,
.next-artist-button:hover {
  cursor: pointer;
  background-color: rgb(80, 158, 204);
  border: 2px solid rgb(80, 158, 204);
}

.submit-button:focus,.prev-artist-button:focus,
.next-artist-button:focus,.prev-albums-button,
 .next-albums-button  {
  border: 2px solid rgb(80, 158, 204);
  /* background-color: rgb(80, 158, 204); */
  outline:0;
}


.prev-artist-button,.next-artist-button, 
.prev-albums-button, .next-albums-button,
.prev-videos-button,.next-videos-button {
  
  border: 2px solid rgb(134, 178, 204);
  border-radius: 5px;
  width: 7rem;
  height: 2.5rem;
  background-color: rgb(134, 178, 204);
  transition: all 0.4s;
}




.artists-list-nav-wrapper,.albums-list-nav-wrapper,
.videos-list-nav-wrapper, .albums-list-nav,
.videos-list-nav {
  /* border: 3px solid rgb(88, 88, 28); */
  width: 19rem;
  text-align: center;
  margin: 0 auto;

}

.artists-list-nav, .albums-list-nav,
.videos-list-nav {
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid rgb(174, 174, 236); */
  /* width: 15rem; */
  /* position: relative; */
  /* position: absolute; */
  text-align: center;
  margin: 5rem 0;

}

 /* i hsould put a margin below nav buttons on albums page  */



.prev-artist-button:hover,.next-artist-button:hover,
.prev-albums-button:hover,.next-albums-button:hover,
.prev-videos-button:hover,.next-videos-button:hover {
  cursor: pointer;
  background-color: rgb(80, 158, 204);
  border: 2px solid rgb(80, 158, 204);
}

.prev-artist-button:focus,.next-artist-button:focus,
.prev-albums-button:focus,.next-albums-button:focus,
.prev-videos-button:focus,.next-videos-button:focus {
  border: 2px solid rgb(80, 158, 204);
  outline:0;
} 



.artist-page-number, .albums-page-number,
.videos-page-number {
  font-size: 1.4rem;
  align-self: center;
}


#results {
    font-family: 'Roboto', sans-serif;
    /* display: block; */
    font-size: 1.2rem;
    /* margin: 100px 0; */
}



.artist-results-title, .artists-list {
  /* padding-left: 15vw; */
  padding: 0 5%;
}

.artist-results-title, .albums-results-title,
.tracks-results-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.artist-item {
  background-color: rgb(41, 38, 38);
  margin: 0.3rem 0;
}



.artist-item:hover,.albums-item:hover {
  background-color: rgb(83, 77, 77);
}

.artist-item:focus, .albums-item:focus {
  background-color: rgb(83, 77, 77);
}

.artist-name {
  padding: 0.3rem 0.3rem;
  font-size:1.4rem;
  color:rgb(134, 178, 204);
}

li {
  list-style: none;
}




#results-list li h3 {
  margin:20px  0 5px 0;

}

#results-list li p {
  margin:0px  0 5px 0;
}



.thumbnail-container {
  
  /* display:inline-block; */
}



.albums-list {

  display:flex;
  flex-wrap: wrap;
  padding: 0rem 0rem 0rem 0rem;
  padding-inline-start: unset;

}

.albums-item {
  /* display:block; */
  /* display: inline; */
  flex:0 0 100%;
  /* border:1px solid gray; */

  /* background-color: rgb(41, 38, 38); */
  padding:1rem;
}

.albums-item:hover {
  cursor: pointer;
}

.album-name {
  /* font-size: 1.4rem; */
}

.album-info-wrapper {
  /* display:inline-block; */
 

}

@media only screen and (min-width: 425px) {
  li.albums-item {
    flex:0 0 50%;
  }
}

@media only screen and (min-width: 900px) {
  li.albums-item {
    flex:0 0 33%;
  }
}

@media only screen and (min-width: 1200px) {
  li.albums-item {
    flex:0 0 25%;
  }
}

.album-title-name {
  /* display: inline; */
  /* max-width: 250px; */
  margin: 0rem 0rem 0rem 0rem;
  font-size: 1.2rem;
  color: rgb(134, 178, 204);

}

.album-date {
  margin: 0rem 0rem 0rem 0rem;
  font-size: 1rem;
  font-style: italic;
  color: rgb(134, 178, 204);

}

.album-image {
  /* height: 250px; */
  /* width: 400px; */
  width:100%;
}

.albums-results-title {
  margin-left:1rem;
}

.album-cover-container {
  object-fit: contain;
}

#album-cover-tracks-page {
  width:100%;
  max-width: 400px;
}

.tracks-page {
  width:90%;
  margin:0 auto;
}

.tracks-item{
  list-style: none;
  font-size: 1.2rem;
  color: rgb(134, 178, 204);
  padding: 0.6rem;
  margin: 0.25rem 0;
  background-color: #333;
}

.tracks-item:hover, .tracks-item:focus {
  background-color: #666;
  cursor: pointer;
}



.videos {
  /* align-items: center; */

}

.videos-list {
padding:0;
/* text-align: center; */
  list-style: none;
  /* align-items: center; */


}


.video-title-summary-box {
  /* max-width: 900px; */
}

.grid-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;

}


.grid-item{
    flex-grow:1;
    flex-shrink:0;
    flex-basis:100%;
      height:100%;
    /* background-color:rgba(37, 35, 28, 0.342); */
    /* border-radius: 5px; */
    /* border:solid rgba(83, 83, 65, 0.212); */
    /* justify-content: flex-start; */
    padding:1rem;
    /* margin:0.3rem; */
    /* padding:20px; */
  }

  .grid-container::after {
    content: '';
    flex-grow: 100000000;
    flex-shrink: 1000000000;
  }


@media only screen and (min-width: 1000px) {
.grid-item{    
    flex-basis:50%;    
    /* margin:1% 0; */
    /* padding:0.2em; */
    }
}

/* @media only screen and (min-width: 768px) {
.grid-item{    
    flex-basis:32%;    


    }
} */

@media only screen and (min-width: 1300px) {
.grid-item{    
    flex-basis:33%;  
    /* margin:0.2em;
    padding:0.2em; */

    }
}

.clampedLines2 {
  /* number of lines to show */
  -webkit-line-clamp: 2;
  min-height: 2.4em;
}

.clampedLines3 {
  /* number of lines to show */
  -webkit-line-clamp: 3;
  min-height: 3.6em;
}

.clampedText {
line-height:1.2em;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2; /* number of lines to show */
}


.embedded-video-container {
	position: relative;
  padding-top: 56.25%; 
  overflow: hidden;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  height:0;
  /* max-width: 800px; */
  /* max-height:500px; */
}

.embedded-video {
  border: 2px solid #151515;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  /* max-width: 900px;
  max-height: 500px; */
}


.error-message {
    color: red;
}

.hidden {
  display: none;
}






