
/* put magnifying glass icon for search button */
/* make heading not overlap back button  */
/* padding on left right for tracks page   */
/* search button should be on right even when in mobile  */
/* fix prev next buttons location and style  */
/* center albums on album page */
/* figure out a color for links  */
/* links change color upon hover  */
/* have album pic container exist at a certain size
since there will be a delay when album art loads */
/* maybe have a home button on the top left for mobile? */
/* when do next albums page it starts at bottom of page but it should go back to top. */




* {
  box-sizing: border-box;
  /* font-family: 'Michroma', sans-serif; */
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

body {
  font-family: 'Michroma', sans-serif;
  background-color: #151515;
  color: rgb(163, 149, 117);
  padding: 0;
  /* margin: 0; */
  /* font-family: "Fira Sans", sans-serif; */
  /* font-family: 'Roboto', sans-serif;} */
}

header {
  /* font-size: 0.8rem */
  /* padding: 10px 0 0 0; */
/* text-align: center; */
}

.back-button {
  position: absolute;
  border:1px yellow;
  font-size: 4rem;
  top: -10px;
    left: 10px;
}

.back-text {
  font-size: 2rem;
}



#results {
    font-family: 'Roboto', sans-serif;
    /* display: block; */
    font-size: 1.2rem;
    /* margin: 100px 0; */
}

li {
  list-style: none;
}


form {
  /* max-width: 800px; */
}

.main-heading {
  font-size: 1.4rem;
  /* text-align-last: center; */
  margin: 0 auto 40px; /* remove margin for large screens */
  padding: 10px 0 0 0;
  width:300px;  
  text-align: center;

}


.search-container {

  display:flex;
  max-width: 500px;
  margin:0 auto;
  padding:0 20px;

  /* justify-content: center; */

}


.search-field {

  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 250px;

  height: 40px;

  text-align: left;
  vertical-align: middle;
  /* padding: 0 0 0 7px; */
  
}

.submit-button {

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 70px;

  line-height: 34px;
  font-size: 1.5rem;
  border: 2px solid lightgray;
  border-radius: 4px;
  width: 70px;
  vertical-align: middle;
  /* float:right; */
}

input[type="submit"]:hover {
  cursor: pointer;
}



input[type="number"],input[type="text"] {
  padding: 0 0 0 5px;
  line-height: 43px;
  font-size: 1.2rem;
  border: 2px solid lightgray;
  border-radius: 4px;
  /* background-color: rgb(197, 197, 197); */
  /* color:lightgray; */
}




#results-list li h3 {
  margin:20px  0 5px 0;

}

#results-list li p {
  margin:0px  0 5px 0;
}






.thumbnail-container {
  
  display:inline-block;
}

li.albums-item {
  /* display:block; */
  display: inline;
}

.album-info-wrapper {
  display:inline-block;
}

.album-title-name {
  /* display: inline; */
  max-width: 250px;
}

.album-image {
  height: 250px;
  width: 250px;
}



.album-cover-container {
  object-fit: contain;
}

#album-cover-tracks-page {
  width:100%;
  max-width: 400px;
}


.videos {
  /* align-items: center; */

}

.videos-list {
padding:0;
/* text-align: center; */
  list-style: none;
  /* align-items: center; */


}


.video-title-summary-box {
  /* max-width: 900px; */
}

.grid-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;

}


.grid-item{
    flex-grow:1;
    flex-shrink:0;
    flex-basis:100%;
      height:100%;
    /* background-color:rgba(37, 35, 28, 0.342); */
    /* border-radius: 5px; */
    /* border:solid rgba(83, 83, 65, 0.212); */
    /* justify-content: flex-start; */
    padding:1rem;
    /* margin:0.3rem; */
    /* padding:20px; */
  }

  .grid-container::after {
    content: '';
    flex-grow: 100000000;
    flex-shrink: 1000000000;
  }


@media only screen and (min-width: 1000px) {
.grid-item{    
    flex-basis:50%;    
    /* margin:1% 0; */
    /* padding:0.2em; */
    }
}

/* @media only screen and (min-width: 768px) {
.grid-item{    
    flex-basis:32%;    


    }
} */

@media only screen and (min-width: 1300px) {
.grid-item{    
    flex-basis:33%;  
    /* margin:0.2em;
    padding:0.2em; */

    }
}

.clampedLines2 {
  /* number of lines to show */
  -webkit-line-clamp: 2;
  min-height: 2.4em;
}

.clampedLines3 {
  /* number of lines to show */
  -webkit-line-clamp: 3;
  min-height: 3.6em;
}

.clampedText {
line-height:1.2em;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2; /* number of lines to show */
}


.embedded-video-container {
	position: relative;
  padding-top: 56.25%; 
  overflow: hidden;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  height:0;
  /* max-width: 800px; */
  /* max-height:500px; */
}

.embedded-video {
  border: 2px solid #151515;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  /* max-width: 900px;
  max-height: 500px; */
}


.error-message {
    color: red;
}

.hidden {
  display: none;
}






